body {
    font-family: Arial, sans-serif; /* Set font family */
    background-image: url(math.jpg);
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set height to full viewport height */
    margin: 0; /* Remove default margin */
}

/* Styles for the calculator container */
.calculator {
    background-color: #5a5656; /* Set background color */
    border: 2px solid #020202; /* Add border */
    border-radius: 20px; /* Apply border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Apply box shadow */
    padding: 20px; /* Apply padding */
    text-align: center; /* Center text */
}
.calculator h2 {
    font-family: 'Orbitron', sans-serif; /* Use Orbitron font */
    font-size: 28px; /* Adjust font size */
    color: #333; /* Set font color */
    margin-bottom: 20px; /* Add some margin below the title */
}

/* Styles for input buttons inside the calculator */
.calculator input[type="button"] {
    width: 50px; /* Set button width */
    height: 50px; /* Set button height */
    margin: 5px; /* Apply margin */
    font-size: 20px; /* Set font size */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Set cursor to pointer */
    background-color: #f0f0f0; /* Button background color */
    border-radius: 8px; /* Button border radius */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Button box shadow */
    transition: transform 0.2s; /* Button transformation transition */
}

/* Styles for text input inside the calculator */
.calculator input[type="text"] {
    width: 90%; /* Set input width */
    height: 50px; /* Set input height */
    margin-bottom: 10px; /* Apply margin */
    font-size: 20px; /* Set font size */
    padding: 5px; /* Apply padding */
    text-align: right; /* Align text to right */
    border: none; /* Remove border */
    border-radius: 8px; /* Apply border radius */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Apply box shadow */
}

/* Animation for button hover */
.calculator input[type="button"]:hover {
    transform: scale(1.1); /* Scale button on hover */
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .calculator input[type="button"] {
        width: 40px; /* Adjust button width for smaller screens */
        height: 40px; /* Adjust button height for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .calculator input[type="text"] {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}